<div class="col-12 fullpaneldiv">
    <table class="table tableofusers">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">
              <button type="button" class="buttonclass btn btn-primary" (click)="getUserData()">
              Refresh
              </button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of listOfUsers; let i = index">
            <th scope="row" >{{i+1}}</th>
            <td>{{user.username}}</td>
            <td class="passwordclass">
                {{user.password}}
            </td>
            <td>
                <button type="button" class="buttonclass btn btn-primary" (click)="deleteUserData(user.username)">
                    Delete
                </button>
            </td>
            <tr>
              <th scope="row" >{{ numberOfUsers }}</th>
              <td>
                <input type="text" [formControl]="newUsername">
              </td>
              <td class="passwordclass">
                  <input type="password" [formControl]="newPassword">
              <td>
                  <button type="button" class="buttonclass btn btn-primary" (click)="addNewUser(newUsername.value, newPassword.value)">
                      Add
                  </button>
              </td>
          </tr>
        </tbody>
      </table>
</div>
