<nav class="navbar bagadnavbar navbar-expand-lg">
    <a class="navbar-brand" href="#">TPSaP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let tab of listOfTabs; let i = index">
            <a [ngClass]="selectedTab == i ? 'disabled': 'active'" class="nav-link" (click)="switchTab(i)" 
            href="javascript:void(0)">
                {{ tab  }}</a>
        </li>
      </ul>
    </div>
  </nav>
<h1>You are logged in as <span class="header-text">{{loggedInUser}}</span></h1>
<div class="container-fluid">
    <app-adminpanel *ngIf="selectedTab == 1" class="row adminpanel"></app-adminpanel><br>
    <app-querypanel (messageTweetsJSON)="sendTweetsToDisplay($event)" *ngIf="selectedTab == 0" class="row querypanel" >
    </app-querypanel>
</div>