<div class="col-12">
    <h1>
        Enter Query for Sentiment Analysis Below
    </h1>
</div>
<div class="col-12 my-auto" style="height: 3rem;">
    <input type="text" style="width: 50%;" [formControl]="queryString" >&nbsp;
    <button class="btn buttonclass btn-primary" (click)="fireQuery()">
        Fire
    </button>&nbsp;
    <button class="btn btn-primary" (click)="advancedOptionsRevealer()" 
    [ngClass]="advancedOptionsShow ? 'buttonclass-disabled': 'buttonclass'" >
        Advanced Options
    </button>
</div>
<div *ngIf="advancedOptionsShow">
    <div class="col-12" class="advanced-options">
        <div [formGroup]="advancedFormGroup">
        Query Type:
        
        <input  type="radio" id="Keyword" name="queryType" formControlName="queryType" value="keyword">
        <label for="keyword">Keyword</label> &nbsp;
        
        <input type="radio" id="hashtag" name="queryType" formControlName="queryType" value="hashtag">
        <label for="hashtag">Hashtag</label> &nbsp;
        
        <input type="radio" id="username" name="queryType" formControlName="queryType" value="username">
        <label for="username">Username(@)</label><br>

        <input type="checkbox" id="checkbox-1" name="excludeRetweet" formControlName="excludeRetweet" value="value-1">
        <label for="checkbox-1">Exclude Retweets</label><br>

        Number of Tweets to scrape:
        <input formControlName="queryAmount" type="number">
        
        </div>
    </div>
</div>

<div class="col-12 tweetdisplaydiv">
    <app-tweet-display [(recievedClassifierData)]="classifierScores" [(recievedSentimentScores)]="sentimentScores" [(recievedTweets)]="tweetsJSON" ></app-tweet-display>
</div>

<div class="col-12" style="margin-top: 5px;">
    <button class="btn buttonclass btn-primary" (click)="gatherSentimentScores()">
        Calculate Sentiment Scores
    </button>&nbsp;
    <button class="btn buttonclass btn-primary" (click)="gatherClassifierScores()">
        Classify Political / Non-Political
    </button>&nbsp;
    <button class="btn buttonclass btn-primary" (click)="renderVisualization()">
        Render Visualization
    </button>
</div>
<div class="col-12">
    <app-results [(recievedPieChartData)]="pieChartData" [(recievedAggregationData)]="aggregationData"></app-results>
</div>