<div [ngClass]="fullView ? 'maindiv overflowdiv resultstable': 'maindiv'" class="container-fluid  maindiv ">
    <div class="row">
        <div class="col-10">
            <h3>Report</h3>
        </div>
        <div class="col-2 text-center my-auto">
            <button class="btn buttonclass" (click)="panelView()">{{buttonText}}</button>
        </div>
    </div>
    <div *ngFor="let tweet of stringsFromTweets;let i = index" class="row tweetrow">
        <div class="col-8" *ngIf="fullView" >
            <p class="tweetclass">{{ tweet }}</p>
        </div>
        <div class="col-2 classifier" *ngIf="fullView" 
            [ngClass]="parsedClassifierData[i] === 'Political' ? 'political-class' : 'nonpol-class' " >
            {{ parsedClassifierData[i] }}
        </div>
        <div class="col-2 sentiment-score" *ngIf="fullView"
        [ngClass]="parsedSentiments[i] === 0 ? 'neutral-class' : parsedSentiments[i] > 0 ? 'positive-class' : 'negative-class' " >
            {{ parsedSentiments[i] }}
        </div>
    </div>
</div>