.maindiv {
    padding: 0.2rem;
    background-color: white;
    color: var(--darkest);

    overflow-y: hidden;
    overflow-x: hidden;
}

.overflowdiv {
    overflow-y: scroll;
    overflow-x: hidden;
}

.buttonclass {
    background:var(--dark);
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;

    color: white;
}

.tweetclass {
    background-color: #bfbfbf;
    margin-bottom: 5px;
}

.resultstable {
    height: 500px;
}

.classifier {
    background-color: #bfbfbf;
    margin-bottom: 5px;
}

.political-class {
    background-color: lightblue;
}

.nonpol-class {
    background-color: palegoldenrod;
}

.sentiment-score {
    background-color: #bfbfbf;
    margin-bottom: 5px;
}

.positive-class {
    background-color: lightgreen;
}

.negative-class {
    background-color: lightsalmon;
}

.neutral-class {
    background-color: lightgrey;
}